# Complete Data Prep and EDA Project

## 1. Scope the Project

Our plan is to use a supervised learning technique to predict which customers are most likely to cancel their subscription using **the past three months of customer data which includes subscription and listening history**.

## 2. Gather Data

Read the following files into Python:
* Customer data: *music_customers.csv*
* Listing history: *music_listening_history.xlsx*

In [7]:
# Read in the customer data
import pandas as pd

Data_Customer = pd.read_csv('../music_customers.csv')
Data_Customer

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,3/13/23,Basic (Ads),$2.99,NaN,NaN
1,5002,Aria Keys,Email: melodious.aria@email.edu,3/13/23,NaN,$2.99,NaN,NaN
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,3/13/23,NaN,$2.99,NaN,6/1/23
3,5267,Rock Bassett,Email: groovy.rock@email.com,3/20/23,Basic (Ads),$2.99,NaN,NaN
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,3/20/23,NaN,$2.99,NaN,NaN
5,5404,Jazz Saxton,Email: jazzy.sax@email.com,3/20/23,NaN,$2.99,NaN,6/3/23
6,5581,Reed Sharp,Email: sharp.tunes@email.com,3/21/23,Premium (No Ads),$9.99,NaN,NaN
7,5759,Carol Kingbird,Email: songbird.carol@email.com,3/22/23,Premium (No Ads),$9.99,NaN,6/2/23
8,5761,Sonata Nash,Email: musical.sonata@email.com,3/28/23,Premium (No Ads),$9.99,NaN,NaN
9,5763,Jazz Coleman,Email: coleman.jazzmaster@email.com,3/28/23,Basic (Ads),$2.99,NaN,NaN
10,5826,Chord Hayes,Email: harmonic.chord@email.com,3/28/23,Basic (Ads),$2.99,NaN,NaN
11,5827,Rhythm Franklin,Email: rhythmic.franklin@email.edu,3/28/23,NaN,$2.99,NaN,NaN
12,6029,Chord Campbell,Email: campbell.chordify@email.com,3/29/23,Premium (No Ads),$9.99,NaN,6/2/23
13,6092,Benny Beat,Email: rhythmic.benny@email.com,4/1/23,Basic (Ads),$2.99,NaN,6/1/23
14,6163,Melody Parks,Email: park.of.melodies@email.com,4/5/23,Premium (No Ads),$9.99,NaN,NaN
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,4/6/23,Premium (No Ads),$99.99,NaN,6/2/23
16,6406,Beatrice Sharp,Email: beats.by.beatrice@email.com,4/8/23,Basic (Ads),$2.99,NaN,NaN
17,6584,Bobby Bass,Email: bass.master.bobby@email.edu,4/9/23,Basic (Ads),$2.99,NaN,NaN
18,6586,Lyric Saunders,Email: lyrical.saunders@email.edu,4/16/23,Basic (Ads),$2.99,NaN,NaN
19,6588,Harmony Bass,Email: bass.harmony@email.com,4/16/23,Basic (Ads),$2.99,NaN,6/1/23
20,6821,Reed Flat,Email: flat.tunes@email.edu,4/24/23,Basic (Ads),$2.99,NaN,NaN
21,6822,Kiki Keys,Email: kiki.keys.piano@email.com,5/1/23,Premium (No Ads),$7.99,Yes,NaN
22,6824,Greta Groove,Email: groovy.greta@email.com,5/1/23,Premium (No Ads),$7.99,Yes,6/2/23
23,7087,Harmony Heart,Email: heartfelt.harmony@email.com,5/1/23,Premium (No Ads),$7.99,Yes,6/2/23
24,7158,Harmony Wallace,Email: wallace.harmony@email.com,5/7/23,Basic (Ads),$2.99,NaN,NaN
25,7224,Melody Fitzgerald,Email: fitzgerald.melody@email.com,5/8/23,Premium (No Ads),$7.99,Yes,6/1/23
26,7401,Reed Murphy,Email: murphy.reed.music@email.com,5/8/23,Premium (No Ads),$7.99,Yes,6/1/23
27,7579,Jazz Drummond,Email: drumming.jazz@email.com,5/15/23,Basic (Ads),$2.99,NaN,NaN
28,7581,Lyric Keys,Email: keysoflyric@email.com,5/16/23,Premium (No Ads),$7.99,Yes,6/3/23
29,7583,Melody Singer,Email: melodic.singer@email.com,5/16/23,Premium (No Ads),$7.99,Yes,6/1/23

In [8]:
# Read in the listening history
Data_listening_history = pd.read_excel('../music_listening_history.xlsx')
Data_listening_history

     Customer ID  Session ID  Audio Order  Audio ID Audio Type
0           5001      100520            1       101       Song
1           5001      100520            2       102       Song
2           5001      100520            3       103       Song
3           5001      100520            4       104       Song
4           5001      100520            5       105       Song
..           ...         ...          ...       ...        ...
500         7579      111282            4       111       Song
501         6588      111286            1       201    Podcast
502         5763      111333            1       110       Song
503         5763      111333            2       108       Song
504         5763      111333            3       110       Song

[505 rows x 5 columns]

In [10]:
# Read in the audio data
Data_audio = pd.read_excel('../music_listening_history.xlsx', sheet_name=1)
Data_audio

             ID                         Name       Genre  Popularity
0      Song-101              Dance All Night         Pop           1
1      Song-102             Unbreakable Beat         Pop           2
2      Song-103             Sunset Boulevard   Pop Music           5
3      Song-104               Glowing Hearts   Pop Music          10
4      Song-105                    Pop Rocks   Pop Music          52
5      Song-106  My Old Dog and My True Love     Country          23
6      Song-107            Dirt Road Romance     Country          30
7      Song-108              Chase the Dream     Hip Hop           4
8      Song-109                   Rise Above     Hip Hop           9
9      Song-110                   Boss Moves     Hip Hop          28
10     Song-111             Moonlit Serenade        Jazz          63
11     Song-112               Midnight Blues        Jazz          80
12  Podcast-201               Jokes on Jokes      Comedy           2
13  Podcast-202           Laugh Out Loudcast      Comedy           8
14  Podcast-203        The Comedian's Corner      Comedy          20
15  Podcast-204             Crime Chronicles  True Crime           4
16  Podcast-205       Investigating Darkness  True Crime          17

In [11]:
# Read in the session data
Data_Session = pd.read_excel('../music_listening_history.xlsx', sheet_name=2)
Data_Session

    Session ID Session Log In Time
0       100520 2023-03-13 18:29:00
1       100522 2023-03-13 22:15:00
2       100525 2023-03-14 10:01:00
3       100527 2023-03-13 14:14:00
4       100538 2023-03-21 12:23:00
..         ...                 ...
85      111263 2023-05-20 15:17:30
86      111273 2023-05-20 16:01:00
87      111282 2023-05-23 23:51:00
88      111286 2023-05-27 02:15:00
89      111333 2023-05-27 20:46:00

[90 rows x 2 columns]

## 3. Clean Data

### a. Convert Data Types

Check the data types of the data in the tables and convert to numeric and datetime values as necessary.

In [13]:
Data_Customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        30 non-null     int64
 1   Customer Name      30 non-null     object
 2   Email              30 non-null     object
 3   Member Since       30 non-null     object
 4   Subscription Plan  25 non-null     object
 5   Subscription Rate  30 non-null     object
 6   Discount?          7 non-null      object
 7   Cancellation Date  13 non-null     object
dtypes: int64(1), object(7)
memory usage: 2.0+ KB

In [23]:
# Three columns must be converted into correct data types.
# 1. Convert "Member Since" into *datetime*
# 2. Convert "Subsription Rate" into *numeric*
# 3. Convert "Cancellation Date" into *datetime*

In [21]:
Data_Customer['Member Since'] = pd.to_datetime(Data_Customer['Member Since'])
Data_Customer['Cancellation Date'] = pd.to_datetime(Data_Customer['Cancellation Date'])
Data_Customer['Subscription Rate'] = pd.to_numeric(Data_Customer['Subscription Rate'].str.replace('$', ''))

C:\Users\Armin\AppData\Local\Temp\ipykernel_11092\187543142.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Data_Customer['Member Since'] = pd.to_datetime(Data_Customer['Member Since'])
C:\Users\Armin\AppData\Local\Temp\ipykernel_11092\187543142.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Data_Customer['Cancellation Date'] = pd.to_datetime(Data_Customer['Cancellation Date'])

In [22]:
Data_Customer.dtypes

Customer ID                   int64
Customer Name                object
Email                        object
Member Since         datetime64[ns]
Subscription Plan            object
Subscription Rate           float64
Discount?                    object
Cancellation Date    datetime64[ns]
dtype: object

In [14]:
Data_audio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          17 non-null     object
 1   Name        17 non-null     object
 2   Genre       17 non-null     object
 3   Popularity  17 non-null     int64
dtypes: int64(1), object(3)
memory usage: 676.0+ bytes

In [25]:
# The data types all look correct in this dataframe.

In [15]:
Data_listening_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  505 non-null    int64
 1   Session ID   505 non-null    int64
 2   Audio Order  505 non-null    int64
 3   Audio ID     505 non-null    int64
 4   Audio Type   505 non-null    object
dtypes: int64(4), object(1)
memory usage: 19.9+ KB

In [26]:
# The data types all look correct in this dataframe.

In [16]:
Data_Session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session ID           90 non-null     int64
 1   Session Log In Time  90 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.5 KB

In [27]:
# The data types all look correct in this dataframe.

### b. Resolve Data Issues

Check for missing data, inconsistent text and typos, duplicate data and outliers.

#### i. Missing Data

In [29]:
Data_Customer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Customer ID        30 non-null     int64
 1   Customer Name      30 non-null     object
 2   Email              30 non-null     object
 3   Member Since       30 non-null     datetime64[ns]
 4   Subscription Plan  25 non-null     object
 5   Subscription Rate  30 non-null     float64
 6   Discount?          7 non-null      object
 7   Cancellation Date  13 non-null     datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 2.0+ KB

In [ ]:
# 5 null values iside the "Subscription Plan" column
# 23 null values inside the "Discount?" column
# 17 null values inside the "Cancellation Date" column

In [36]:
Data_Customer[Data_Customer.isna().any(axis=1)].head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.99,NaN,NaT
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,NaN,2.99,NaN,NaT
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,NaN,2.99,NaN,2023-06-01
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),2.99,NaN,NaT
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,NaN,2.99,NaN,NaT

In [38]:
# Since the Subscription Rate is the same (2.99) for all NaN values inside Subscription Plan,
# I will replace them all with "Basic (Ads)"

In [39]:
Data_Customer['Subscription Plan'] = Data_Customer['Subscription Plan'].fillna('Basic (Ads)')
Data_Customer.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.99,NaN,NaT
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,Basic (Ads),2.99,NaN,NaT
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,Basic (Ads),2.99,NaN,2023-06-01
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),2.99,NaN,NaT
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,Basic (Ads),2.99,NaN,NaT

In [43]:
Data_Customer[Data_Customer.isna().any(axis=1)]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.99,NaN,NaT
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,Basic (Ads),2.99,NaN,NaT
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,Basic (Ads),2.99,NaN,2023-06-01
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),2.99,NaN,NaT
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,Basic (Ads),2.99,NaN,NaT
5,5404,Jazz Saxton,Email: jazzy.sax@email.com,2023-03-20,Basic (Ads),2.99,NaN,2023-06-03
6,5581,Reed Sharp,Email: sharp.tunes@email.com,2023-03-21,Premium (No Ads),9.99,NaN,NaT
7,5759,Carol Kingbird,Email: songbird.carol@email.com,2023-03-22,Premium (No Ads),9.99,NaN,2023-06-02
8,5761,Sonata Nash,Email: musical.sonata@email.com,2023-03-28,Premium (No Ads),9.99,NaN,NaT
9,5763,Jazz Coleman,Email: coleman.jazzmaster@email.com,2023-03-28,Basic (Ads),2.99,NaN,NaT
10,5826,Chord Hayes,Email: harmonic.chord@email.com,2023-03-28,Basic (Ads),2.99,NaN,NaT
11,5827,Rhythm Franklin,Email: rhythmic.franklin@email.edu,2023-03-28,Basic (Ads),2.99,NaN,NaT
12,6029,Chord Campbell,Email: campbell.chordify@email.com,2023-03-29,Premium (No Ads),9.99,NaN,2023-06-02
13,6092,Benny Beat,Email: rhythmic.benny@email.com,2023-04-01,Basic (Ads),2.99,NaN,2023-06-01
14,6163,Melody Parks,Email: park.of.melodies@email.com,2023-04-05,Premium (No Ads),9.99,NaN,NaT
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,2023-04-06,Premium (No Ads),99.99,NaN,2023-06-02
16,6406,Beatrice Sharp,Email: beats.by.beatrice@email.com,2023-04-08,Basic (Ads),2.99,NaN,NaT
17,6584,Bobby Bass,Email: bass.master.bobby@email.edu,2023-04-09,Basic (Ads),2.99,NaN,NaT
18,6586,Lyric Saunders,Email: lyrical.saunders@email.edu,2023-04-16,Basic (Ads),2.99,NaN,NaT
19,6588,Harmony Bass,Email: bass.harmony@email.com,2023-04-16,Basic (Ads),2.99,NaN,2023-06-01
20,6821,Reed Flat,Email: flat.tunes@email.edu,2023-04-24,Basic (Ads),2.99,NaN,NaT
21,6822,Kiki Keys,Email: kiki.keys.piano@email.com,2023-05-01,Premium (No Ads),7.99,Yes,NaT
24,7158,Harmony Wallace,Email: wallace.harmony@email.com,2023-05-07,Basic (Ads),2.99,NaN,NaT
27,7579,Jazz Drummond,Email: drumming.jazz@email.com,2023-05-15,Basic (Ads),2.99,NaN,NaT

In [44]:
Data_Customer[Data_Customer['Subscription Rate'] == 7.99]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
21,6822,Kiki Keys,Email: kiki.keys.piano@email.com,2023-05-01,Premium (No Ads),7.99,Yes,NaT
22,6824,Greta Groove,Email: groovy.greta@email.com,2023-05-01,Premium (No Ads),7.99,Yes,2023-06-02
23,7087,Harmony Heart,Email: heartfelt.harmony@email.com,2023-05-01,Premium (No Ads),7.99,Yes,2023-06-02
25,7224,Melody Fitzgerald,Email: fitzgerald.melody@email.com,2023-05-08,Premium (No Ads),7.99,Yes,2023-06-01
26,7401,Reed Murphy,Email: murphy.reed.music@email.com,2023-05-08,Premium (No Ads),7.99,Yes,2023-06-01
28,7581,Lyric Keys,Email: keysoflyric@email.com,2023-05-16,Premium (No Ads),7.99,Yes,2023-06-03
29,7583,Melody Singer,Email: melodic.singer@email.com,2023-05-16,Premium (No Ads),7.99,Yes,2023-06-01

In [48]:
# From what I have observed, only those whose "subsription Rate" is 7.99 have discounts.
# Therefore, I believe i need to fill all NaN values inside the "Discount" column with "No"

In [49]:
Data_Customer['Discount?'] = Data_Customer['Discount?'].fillna('No')
Data_Customer.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.99,No,NaT
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,Basic (Ads),2.99,No,NaT
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,Basic (Ads),2.99,No,2023-06-01
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),2.99,No,NaT
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,Basic (Ads),2.99,No,NaT

In [52]:
# We will leave the "Cancellation Date" be for now.
# Just to make life easier, I wil Convert the "Discount" Column to a Binary class column.

In [54]:
import numpy as np

Data_Customer['Discount?'] = np.where(Data_Customer['Discount?'] == 'Yes', 1, 0)
Data_Customer.head()

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
0,5001,Harmony Greene,Email: harmonious.vibes@email.com,2023-03-13,Basic (Ads),2.99,0,NaT
1,5002,Aria Keys,Email: melodious.aria@email.edu,2023-03-13,Basic (Ads),2.99,0,NaT
2,5004,Lyric Bell,Email: rhythmical.lyric@email.com,2023-03-13,Basic (Ads),2.99,0,2023-06-01
3,5267,Rock Bassett,Email: groovy.rock@email.com,2023-03-20,Basic (Ads),2.99,0,NaT
4,5338,Rhythm Dixon,Email: beats.by.rhythm@email.edu,2023-03-20,Basic (Ads),2.99,0,NaT

In [42]:
# No NaN values
Data_listening_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Customer ID  505 non-null    int64
 1   Session ID   505 non-null    int64
 2   Audio Order  505 non-null    int64
 3   Audio ID     505 non-null    int64
 4   Audio Type   505 non-null    object
dtypes: int64(4), object(1)
memory usage: 19.9+ KB

In [41]:
# No NaN values
Data_audio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          17 non-null     object
 1   Name        17 non-null     object
 2   Genre       17 non-null     object
 3   Popularity  17 non-null     int64
dtypes: int64(1), object(3)
memory usage: 676.0+ bytes

In [40]:
# No NaN values
Data_Session.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Session ID           90 non-null     int64
 1   Session Log In Time  90 non-null     datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.5 KB

#### ii. Inconsistent Text & Typos

In [56]:
Data_Customer.describe()

,Customer ID,Member Since,Subscription Rate,Discount?,Cancellation Date
count,30.000000,30,30.000000,30.0,13
mean,6276.333333,2023-04-10 06:24:00,8.556667,0.0,2023-06-01 16:36:55.384615424
min,5001.000000,2023-03-13 00:00:00,2.990000,0.0,2023-06-01 00:00:00
25%,5759.500000,2023-03-23 12:00:00,2.990000,0.0,2023-06-01 00:00:00
50%,6196.000000,2023-04-05 12:00:00,2.990000,0.0,2023-06-02 00:00:00
75%,6823.500000,2023-05-01 00:00:00,7.990000,0.0,2023-06-02 00:00:00
max,7583.000000,2023-05-16 00:00:00,99.990000,0.0,2023-06-03 00:00:00
std,814.255587,NaN,17.517840,0.0,NaN

In [58]:
# There is a max "Subscription Rate" of 99.99!
# This looks odd!

In [59]:
Data_Customer[Data_Customer['Subscription Rate'] > 7.99]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
6,5581,Reed Sharp,Email: sharp.tunes@email.com,2023-03-21,Premium (No Ads),9.99,0,NaT
7,5759,Carol Kingbird,Email: songbird.carol@email.com,2023-03-22,Premium (No Ads),9.99,0,2023-06-02
8,5761,Sonata Nash,Email: musical.sonata@email.com,2023-03-28,Premium (No Ads),9.99,0,NaT
12,6029,Chord Campbell,Email: campbell.chordify@email.com,2023-03-29,Premium (No Ads),9.99,0,2023-06-02
14,6163,Melody Parks,Email: park.of.melodies@email.com,2023-04-05,Premium (No Ads),9.99,0,NaT
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,2023-04-06,Premium (No Ads),99.99,0,2023-06-02

In [60]:
# This is definitely a mistake! Let's correct it!

In [64]:
Data_Customer.iloc[15,5] = 9.99

In [65]:
Data_Customer[Data_Customer['Subscription Rate'] > 7.99]

,Customer ID,Customer Name,Email,Member Since,Subscription Plan,Subscription Rate,Discount?,Cancellation Date
6,5581,Reed Sharp,Email: sharp.tunes@email.com,2023-03-21,Premium (No Ads),9.99,0,NaT
7,5759,Carol Kingbird,Email: songbird.carol@email.com,2023-03-22,Premium (No Ads),9.99,0,2023-06-02
8,5761,Sonata Nash,Email: musical.sonata@email.com,2023-03-28,Premium (No Ads),9.99,0,NaT
12,6029,Chord Campbell,Email: campbell.chordify@email.com,2023-03-29,Premium (No Ads),9.99,0,2023-06-02
14,6163,Melody Parks,Email: park.of.melodies@email.com,2023-04-05,Premium (No Ads),9.99,0,NaT
15,6229,Symphony Rhodes,Email: rhodes.symphony@email.com,2023-04-06,Premium (No Ads),9.99,0,2023-06-02

In [66]:
Data_Customer['Subscription Plan'].value_counts()

Subscription Plan
Basic (Ads)         17
Premium (No Ads)    13
Name: count, dtype: int64

In [67]:
# "Data_Customer" DataFrame seems to be okay now

In [71]:
Data_listening_history

     Customer ID  Session ID  Audio Order  Audio ID Audio Type
0           5001      100520            1       101       Song
1           5001      100520            2       102       Song
2           5001      100520            3       103       Song
3           5001      100520            4       104       Song
4           5001      100520            5       105       Song
..           ...         ...          ...       ...        ...
500         7579      111282            4       111       Song
501         6588      111286            1       201    Podcast
502         5763      111333            1       110       Song
503         5763      111333            2       108       Song
504         5763      111333            3       110       Song

[505 rows x 5 columns]

In [70]:
Data_listening_history['Audio Type'].value_counts()

Audio Type
Song       463
Podcast     42
Name: count, dtype: int64

In [73]:
Data_listening_history.describe()

       Customer ID     Session ID  Audio Order    Audio ID
count   505.000000     505.000000   505.000000  505.000000
mean   6112.247525  105225.554455     4.138614  112.063366
std     832.861221    3625.879577     2.669008   24.670285
min    5001.000000  100520.000000     1.000000  101.000000
25%    5267.000000  101925.000000     2.000000  103.000000
50%    6029.000000  105116.000000     4.000000  105.000000
75%    6822.000000  109654.000000     6.000000  109.000000
max    7583.000000  111333.000000    15.000000  205.000000

In [74]:
# "Data_listening_history" DataFrame seems to be okay now.

In [77]:
Data_audio.head()

         ID              Name      Genre  Popularity
0  Song-101   Dance All Night        Pop           1
1  Song-102  Unbreakable Beat        Pop           2
2  Song-103  Sunset Boulevard  Pop Music           5
3  Song-104    Glowing Hearts  Pop Music          10
4  Song-105         Pop Rocks  Pop Music          52

In [78]:
Data_audio['Genre'].value_counts()

Genre
Pop Music     3
Comedy        3
Hip Hop       3
Country       2
Pop           2
Jazz          2
True Crime    2
Name: count, dtype: int64

In [79]:
# We can put Pop Music and Pop in a same category!

In [82]:
Data_audio['Genre'] = np.where(Data_audio['Genre'] == 'Pop Music', 'Pop', Data_audio['Genre'])
Data_audio['Genre'].value_counts()

Genre
Pop           5
Hip Hop       3
Comedy        3
Country       2
Jazz          2
True Crime    2
Name: count, dtype: int64

In [85]:
# "Data_audio" DataFrame seems to be okay now.

In [84]:
Data_Session.describe()

          Session ID            Session Log In Time
count      90.000000                             90
mean   105619.788889  2023-04-27 08:18:34.000000512
min    100520.000000            2023-03-13 14:14:00
25%    102149.000000            2023-04-05 21:21:30
50%    105390.500000            2023-05-03 20:03:00
75%    109658.250000            2023-05-18 22:17:30
max    111333.000000            2023-05-31 06:03:00
std      3616.208569                            NaN

In [86]:
# "DaData_Session" DataFrame seems to be okay.

#### iii. Duplicate Rows

#### iv. Outliers

### c. Create New Columns

Create two new columns that will be useful for EDA and modeling:
* Cancelled: whether a customer cancelled or not
* Email: Remove the "Email:" from the email addresses

## 4. EDA

Try to better understand the customers who cancelled:
* How long were they members before they cancelled?
* What percentage of customers who cancelled had a discount vs customers who didn't cancel?

Better understand the customers' listening histories:
* Join together the listening history and audio tables
* How many listening sessions did each customer have in the past 3 months?
* What were the most popular genres that customers listened to?

## 5. Prep for Modeling

Create a DataFrame that is ready for modeling with each row representing a customer and the following numeric, non-null columns:
* Customer ID
* Whether a customer cancelled or not
* Whether a customer received a discount or not
* The number of listening sessions
* Percent of listening history consisting of Pop
* Percent of listening history consisting of Podcasts

Visualize the relationships in the modeling DataFrame using a pair plot:
* What are some of your observations?
* What variables might do a good job predicting customer cancellation?